#feed1,#feed2,#feed3,#feed4,#feed5,#feed6{
  width: 700px;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
}
#stock{
  color: blueviolet;
  text-transform: capitalize;
  
}
#output{
  color: rgb(145, 255, 0);
  text-transform: capitalize;
  font-size: x-large;
  
}